[defaults]
inventory = ./inventory/hosts.yml
collections_path = /opt/jenkins-ansible/collections
host_key_checking = True
retry_files_enabled = False
network_group_modules = arubaoss
[persistent_connection]
connect_timeout = 60
command_timeout = 60
[paramiko_connection]
look_for_keys = False
host_key_auto_add = False
